@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.slot {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    color: white;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 40px;
    background-color:lavender;
    color: rgb(39, 38, 38);
}

.container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    justify-content: space-between;
    width: 100%;
}

.usericon {
    margin-right: 150px;
}

.profile-details {
    background-color: rgb(165, 178, 201);
    position: absolute;
    padding: 10px;
    border: 1px solid rgb(39, 38, 38);
    text-align: left;
    margin-top: 10px;
}

.list-item{
    cursor: pointer;
    font-size: small;
    color: rgb(39, 38, 38);
}

.message {
    color: white;
    margin: 20px;
    padding: 10px;
    font-size: small;
    position: absolute;
}
